data/ais-producer/flows.json
[{"id":"22455fc0.b7e1d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"372b43d8.8d0bac","type":"mqtt-broker","z":"","name":"Local MQTT bus","broker":"message-bus","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e972e845.0e5c38","type":"ui_group","z":"","name":"Main","tab":"a5c1b1f5.4a356","disp":true,"width":"6","collapse":false},{"id":"a5c1b1f5.4a356","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"137218e0.e41737","type":"tcp in","z":"22455fc0.b7e1d","name":"","server":"client","host":"data.aishub.net","port":"4774","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":170,"y":100,"wires":[["db109dfe.b8991","21df01af.e77c8e","ca70a0d5.f8775"]]},{"id":"db109dfe.b8991","type":"debug","z":"22455fc0.b7e1d","name":"Read from AISHUB channel","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":260,"wires":[]},{"id":"64bceb5a.575804","type":"ais","z":"22455fc0.b7e1d","name":"Convert NMEA to JSON","x":700,"y":100,"wires":[["93316134.409bb","6fb23491.e18ecc"]]},{"id":"ec61f0a7.af51a","type":"debug","z":"22455fc0.b7e1d","name":"Sent to Bus","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1280,"y":40,"wires":[]},{"id":"fd1c98eb.8671e8","type":"mqtt out","z":"22455fc0.b7e1d","name":"AIS to MQTT","topic":"/ais","qos":"","retain":"true","broker":"372b43d8.8d0bac","x":1280,"y":100,"wires":[]},{"id":"3135e25.d96a71e","type":"catch","z":"22455fc0.b7e1d","name":"","scope":["fb6f3d95.f07c2"],"x":120,"y":400,"wires":[["2409d9b4.e8b716"]]},{"id":"2409d9b4.e8b716","type":"debug","z":"22455fc0.b7e1d","name":"Catch all:","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":400,"wires":[]},{"id":"6fb23491.e18ecc","type":"switch","z":"22455fc0.b7e1d","name":"Select NMEA message","property":"payload.navigationStatus","propertyType":"msg","rules":[{"t":"eq","v":"Under way using engine","vt":"str"},{"t":"eq","v":"Moored","vt":"str"},{"t":"eq","v":"At anchor","vt":"str"},{"t":"eq","v":"Under way sailing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":1000,"y":120,"wires":[["fd1c98eb.8671e8","ec61f0a7.af51a"],["fd1c98eb.8671e8","ec61f0a7.af51a"],["ec61f0a7.af51a","fd1c98eb.8671e8"],["fd1c98eb.8671e8","ec61f0a7.af51a"],["656ab65e.3d92b8"]]},{"id":"656ab65e.3d92b8","type":"debug","z":"22455fc0.b7e1d","name":"Message discarded","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1260,"y":240,"wires":[]},{"id":"93316134.409bb","type":"debug","z":"22455fc0.b7e1d","name":"Converted to JSON","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":980,"y":40,"wires":[]},{"id":"21df01af.e77c8e","type":"function","z":"22455fc0.b7e1d","name":"Filter messages","func":"if ( msg.payload.startsWith(\"!AIVDM,1,1\")) {\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["8edf2a78.d34808","64bceb5a.575804"]]},{"id":"8edf2a78.d34808","type":"debug","z":"22455fc0.b7e1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":220,"wires":[]},{"id":"ca70a0d5.f8775","type":"msg-speed","z":"22455fc0.b7e1d","name":"","frequency":"sec","estimation":false,"ignore":false,"x":280,"y":320,"wires":[["f276604b.050d4"],[]]},{"id":"f276604b.050d4","type":"ui_chart","z":"22455fc0.b7e1d","name":"","group":"e972e845.0e5c38","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":320,"wires":[[]]}]