data/ais-worker-database-mongo/flows.json
[{"id":"35689caf.504ca4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4631612b.0fc56","type":"mqtt-broker","z":"","name":"Local MQTT bus","broker":"message-bus","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1095ea0f.e930f6","type":"mongodb","z":"","hostname":"database-mongo","port":"27017","db":"ais","name":"Insert on local MongoDB"},{"id":"c5bca121.87ff6","type":"mqtt in","z":"35689caf.504ca4","name":"Get AIS from MQTT","topic":"/ais","qos":"2","datatype":"utf8","broker":"4631612b.0fc56","x":190,"y":160,"wires":[["4aa14f93.0efb8","3b2f5b69.2ab524"]]},{"id":"4aa14f93.0efb8","type":"json","z":"35689caf.504ca4","name":"","property":"payload","action":"","pretty":false,"x":390,"y":160,"wires":[["c815c552.ac21e8","e022d1e9.268be"]]},{"id":"3b2f5b69.2ab524","type":"debug","z":"35689caf.504ca4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":220,"wires":[]},{"id":"e022d1e9.268be","type":"mongodb out","z":"35689caf.504ca4","mongodb":"1095ea0f.e930f6","name":"Store on local MongoDB","collection":"ais","payonly":true,"upsert":false,"multi":false,"operation":"store","x":770,"y":160,"wires":[]},{"id":"c815c552.ac21e8","type":"debug","z":"35689caf.504ca4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":60,"wires":[]}]