data/ais-worker-file/.flows.json.backup
[{"id":"81b436be.4feb08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bbbb7958.92c448","type":"mqtt-broker","z":"","name":"Local MQTT bus","broker":"message_bus","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a08f833f.83652","type":"catch","z":"81b436be.4feb08","name":"","scope":["fb6f3d95.f07c2"],"x":110,"y":240,"wires":[["bf05b748.a37b78"]]},{"id":"bf05b748.a37b78","type":"debug","z":"81b436be.4feb08","name":"Catch all:","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":240,"wires":[]},{"id":"711a10dd.af3c7","type":"file","z":"81b436be.4feb08","name":"Dump to file","filename":"/data/positions.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":750,"y":120,"wires":[["b139967c.324a08"]]},{"id":"b2c888f9.fbc868","type":"csv","z":"81b436be.4feb08","name":"Generate csv","sep":",","hdrin":"","hdrout":false,"multi":"mult","ret":"\\n","temp":"mmsi, navigationStatus, rateOfTurn, speedOverGround, longitude, latitude, courseOverGround, trueHeading, date, isoDate","skip":"0","x":550,"y":120,"wires":[["711a10dd.af3c7"]]},{"id":"b113392.7c83ac8","type":"mqtt in","z":"81b436be.4feb08","name":"Get AIS from MQTT","topic":"/ais","qos":"2","broker":"bbbb7958.92c448","x":150,"y":120,"wires":[["87d9227c.79b2d"]]},{"id":"87d9227c.79b2d","type":"json","z":"81b436be.4feb08","name":"","property":"payload","action":"","pretty":false,"x":350,"y":120,"wires":[["b2c888f9.fbc868"]]},{"id":"b139967c.324a08","type":"debug","z":"81b436be.4feb08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":120,"wires":[]}]