data/ais-worker-database/flows.json
[{"id":"8cf531ab.2937a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c8d6216.cdc02","type":"mqtt-broker","z":"","name":"Local MQTT bus","broker":"message-bus","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ea870f4b.234d4","type":"influxdb","z":"","hostname":"database","port":"8086","protocol":"http","database":"aisdb","name":"local influxdb","usetls":false,"tls":""},{"id":"85b05454.fbde98","type":"mqtt-broker","z":"","name":"local mqtt","broker":"message_bus","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8ce1abd6.4b09b8","type":"mqtt in","z":"8cf531ab.2937a","name":"Get AIS from MQTT","topic":"/ais","qos":"2","datatype":"utf8","broker":"8c8d6216.cdc02","x":170,"y":100,"wires":[["2782db25.387bf4","59c3c655.133248"]]},{"id":"570dec7.2721b14","type":"influxdb out","z":"8cf531ab.2937a","influxdb":"ea870f4b.234d4","name":"Insert AIS into InfluxDB","measurement":"position","precision":"ms","retentionPolicy":"","x":930,"y":100,"wires":[]},{"id":"b0dda072.e845b","type":"debug","z":"8cf531ab.2937a","name":"Insert into InfluxDB","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":140,"wires":[]},{"id":"2782db25.387bf4","type":"json","z":"8cf531ab.2937a","name":"","property":"payload","action":"","pretty":false,"x":370,"y":100,"wires":[["2bf3797a.2c9f96"]]},{"id":"2bf3797a.2c9f96","type":"function","z":"8cf531ab.2937a","name":"Convert NMEA msg to InfluxDB msg","func":"p = msg.payload;\n\ntry {\n    return {\n        payload : [{\n            navigationStatus : p.navigationStatus !== null ? p.navigationStatus : \"Unknown\",\n            rateOfTurn       : p.rateOfTurn       !== null ? p.rateOfTurn       : 0,\n            speedOverGround  : p.speedOverGround  !== null ? p.speedOverGround  : 0,\n            longitude        : p.longitude        !== null ? p.longitude        : 0,\n            latitude         : p.latitude         !== null ? p.latitude         : 0,\n            courseOverGround : p.courseOverGround !== null ? p.courseOverGround : 0,\n            trueHeading      : p.trueHeading      !== null ? p.trueHeading      : 0,\n            time             : p.date             !== null ? p.date             : 0,\n            isoDate          : p.isoDate          !== null ? p.isoDate          : \"\"\n        },\n        {\n            mmsi             : p.mmsi             !== null ? p.mmsi             : 0\n        }\n    ]}\n}\ncatch (error) {\n    throw \"Insert into InfluxDB: cannot get enough information from NMEA message\"\n    return null;\n}\n","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["570dec7.2721b14","b0dda072.e845b"]]},{"id":"3894a66a.916f5a","type":"catch","z":"8cf531ab.2937a","name":"","scope":null,"uncaught":false,"x":140,"y":260,"wires":[["4f4aa2b9.0b9d7c"]]},{"id":"4f4aa2b9.0b9d7c","type":"debug","z":"8cf531ab.2937a","name":"Catch all:","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":320,"y":260,"wires":[]},{"id":"59c3c655.133248","type":"debug","z":"8cf531ab.2937a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":160,"wires":[]}]